.inputBox {
  padding-bottom: 20px;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formContainer {
  background: #2c3e50;
}

input {
  border-radius: 3px;
  width: 50vh;
  border: 1px solid rgb(218, 207, 207);
}

#button {
  background: rgb(5, 5, 124);
}
